html {
	-webkit-text-size-adjust: none;
	background-color: var(--color-bg);
	color: var(--color-fg);
	font-size: 13px;
}
body {
	background-color: var(--color-bg);
	font-family: var(--font-family-sans);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--color-heading);
	font-family: var(--font-family-title);
	font-weight: bold;
}
pre {
	font-family: var(--font-family-mono);
}
p {
	line-height: var(--p-line-height);
}
a {
	color: var(--color-a);

	&:hover {
		background-color: rgba(var(--color-a), 0.3);
		text-decoration: none;
	}
}
