pre {
.CursorLine {
	.NonText, .SpecialKey {
		background-color: inherit;
		color: inherit;
	}
}

background-color:#161821;color:#c6c8d1;

.atKeyword{color:#6b7089;}
.Boolean{color:#a093c7;}
.Character{color:#a093c7;}
.ColorColumn{background-color:#1e2132;}
.Comment{color:#6b7089;}
.Conditional{color:#84a0c6;}
.Constant{color:#a093c7;}
.cssAnimationAttr{color:#a093c7;}
.cssAnimationProp{color:#84a0c6;}
.cssAttr{color:#a093c7;}
.cssAttrComma{color:#b4be82;}
.cssAttributeSelector{color:#89b8c2;}
.cssAuralAttr{color:#a093c7;}
.cssAuralProp{color:#84a0c6;}
.cssBackgroundAttr{color:#a093c7;}
.cssBackgroundProp{color:#84a0c6;}
.cssBorderAttr{color:#a093c7;}
.cssBorderProp{color:#84a0c6;}
.cssBoxAttr{color:#a093c7;}
.cssBoxProp{color:#84a0c6;}
.cssBraceError{background-color:#161821;color:#e27878;}
.cssBraces{color:#c6c8d1;}
.cssClassName{color:#e2a478;}
.cssClassNameDot{color:#e2a478;}
.cssColor{color:#a093c7;}
.cssColorProp{color:#84a0c6;}
.cssComment{color:#6b7089;}
.cssCommonAttr{color:#a093c7;}
.cssContentForPagedMediaAttr{color:#a093c7;}
.cssContentForPagedMediaProp{color:#84a0c6;}
.cssDeprecated{background-color:#161821;color:#e27878;}
.cssDimensionAttr{color:#a093c7;}
.cssDimensionProp{color:#84a0c6;}
.cssError{background-color:#161821;color:#e27878;}
.cssFlexibleBoxAttr{color:#a093c7;}
.cssFlexibleBoxProp{color:#84a0c6;}
.cssFontAttr{color:#a093c7;}
.cssFontDescriptor{color:#b4be82;}
.cssFontDescriptorAttr{color:#a093c7;}
.cssFontDescriptorFunction{color:#a093c7;}
.cssFontDescriptorProp{color:#84a0c6;}
.cssFontProp{color:#84a0c6;}
.cssFunction{color:#a093c7;}
.cssFunctionComma{color:#e2a478;}
.cssFunctionName{color:#e2a478;}
.cssGeneratedContentAttr{color:#a093c7;}
.cssGeneratedContentProp{color:#84a0c6;}
.cssGradientAttr{color:#a093c7;}
.cssGridAttr{color:#a093c7;}
.cssGridProp{color:#84a0c6;}
.cssHacks{color:#6b7089;}
.cssHyerlinkAttr{color:#a093c7;}
.cssHyerlinkProp{color:#84a0c6;}
.cssIdentifier{color:#e2a478;}
.cssIEUIAttr{color:#a093c7;}
.cssIEUIProp{color:#84a0c6;}
.cssImportant{color:#b4be82;}
.cssInclude{color:#b4be82;}
.cssIncludeKeyword{color:#6b7089;}
.cssKeyFrame{color:#6b7089;}
.cssKeyFrameSelector{color:#a093c7;}
.cssLineboxAttr{color:#a093c7;}
.cssLineboxProp{color:#84a0c6;}
.cssListAttr{color:#a093c7;}
.cssListProp{color:#84a0c6;}
.cssMarginAttr{color:#a093c7;}
.cssMarqueeAttr{color:#a093c7;}
.cssMarqueeProp{color:#84a0c6;}
.cssMedia{color:#6b7089;}
.cssMediaAttr{color:#a093c7;}
.cssMediaComma{background-color:#161821;color:#c6c8d1;}
.cssMediaKeyword{color:#84a0c6;}
.cssMediaProp{color:#84a0c6;}
.cssMediaType{color:#b4be82;}
.cssMobileTextProp{color:#84a0c6;}
.cssMultiColumnAttr{color:#a093c7;}
.cssMultiColumnProp{color:#84a0c6;}
.cssPaddingAttr{color:#a093c7;}
.cssPage{color:#6b7089;}
.cssPagedMediaAttr{color:#a093c7;}
.cssPagedMediaProp{color:#84a0c6;}
.cssPageMargin{color:#6b7089;}
.cssPageProp{color:#84a0c6;}
.cssPagePseudo{color:#b4be82;}
.cssPositioningAttr{color:#a093c7;}
.cssPositioningProp{color:#84a0c6;}
.cssPrintAttr{color:#a093c7;}
.cssPrintProp{color:#84a0c6;}
.cssProp{color:#84a0c6;}
.cssPseudoClassId{color:#b4be82;}
.cssPseudoClassLang{color:#a093c7;}
.cssRenderAttr{color:#a093c7;}
.cssRenderProp{color:#84a0c6;}
.cssRubyAttr{color:#a093c7;}
.cssRubyProp{color:#84a0c6;}
.cssSelectorOp{color:#b4be82;}
.cssSelectorOp2{color:#b4be82;}
.cssSpeechAttr{color:#a093c7;}
.cssSpeechProp{color:#84a0c6;}
.cssStringQ{color:#89b8c2;}
.cssStringQQ{color:#89b8c2;}
.cssTableAttr{color:#a093c7;}
.cssTableProp{color:#84a0c6;}
.cssTagName{color:#84a0c6;}
.cssTextAttr{color:#a093c7;}
.cssTextProp{color:#84a0c6;}
.cssTransformAttr{color:#a093c7;}
.cssTransformProp{color:#84a0c6;}
.cssTransitionAttr{color:#a093c7;}
.cssTransitionProp{color:#84a0c6;}
.cssUIAttr{color:#a093c7;}
.cssUIProp{color:#84a0c6;}
.cssUnicodeEscape{color:#b4be82;}
.cssUnicodeRange{color:#a093c7;}
.cssUnitDecorators{color:#a093c7;}
.cssURL{color:#89b8c2;}
.cssValueAngle{color:#a093c7;}
.cssValueFrequency{color:#a093c7;}
.cssValueInteger{color:#a093c7;}
.cssValueLength{color:#a093c7;}
.cssValueNumber{color:#a093c7;}
.cssValueTime{color:#a093c7;}
.cssVendor{color:#6b7089;}
.Cursor{background-color:#c6c8d1;color:#161821;}
.CursorColumn{background-color:#1e2132;}
.CursorLine{background-color:#1e2132;}
.CursorLineNr{background-color:#2a3158;color:#cdd1e6;}
.Debug{color:#b4be82;}
.Define{color:#b4be82;}
.Delimiter{color:#c6c8d1;}
.DiffAdd{background-color:#555a47;color:#bec4b1;}
.diffAdded{color:#b4be82;}
.DiffChange{background-color:#445861;color:#adc1cb;}
.DiffDelete{background-color:#673e43;color:#d1a8ad;}
.diffRemoved{color:#e27878;}
.DiffText{background-color:#89b8c2;color:#161821;}
.Directory{color:#89b8c2;}
.Error{background-color:#161821;color:#e27878;}
.ErrorMsg{background-color:#161821;color:#e27878;}
.Exception{color:#84a0c6;}
.Float{color:#a093c7;}
.FoldColumn{background-color:#1e2132;color:#444b71;}
.Folded{background-color:#1e2132;color:#686f9a;}
.Function{color:#e2a478;}
.helpHyperTextJump{color:#a093c7;}
.htmlArg{color:#a093c7;}
.htmlComment{color:#6b7089;}
.htmlCommentError{background-color:#161821;color:#e27878;}
.htmlCommentPart{color:#6b7089;}
.htmlCssDefinition{color:#b4be82;}
.htmlCssStyleComment{color:#6b7089;}
.htmlEndTag{color:#84a0c6;}
.htmlError{background-color:#161821;color:#e27878;}
.htmlH1{color:#e2a478;}
.htmlH2{color:#e2a478;}
.htmlH3{color:#e2a478;}
.htmlH4{color:#e2a478;}
.htmlH5{color:#e2a478;}
.htmlH6{color:#e2a478;}
.htmlHead{color:#b4be82;}
.htmlLink{color:#84a0c6;}
.htmlPreAttr{color:#89b8c2;}
.htmlPreError{background-color:#161821;color:#e27878;}
.htmlPreProc{color:#b4be82;}
.htmlPreProcAttrError{background-color:#161821;color:#e27878;}
.htmlPreProcAttrName{color:#b4be82;}
.htmlPreStmt{color:#b4be82;}
.htmlScriptTag{color:#84a0c6;}
.htmlSpecial{color:#b4be82;}
.htmlSpecialChar{color:#b4be82;}
.htmlSpecialTagName{color:#84a0c6;}
.htmlStatement{color:#84a0c6;}
.htmlString{color:#89b8c2;}
.htmlStyleArg{color:#89b8c2;}
.htmlTag{color:#84a0c6;}
.htmlTagError{background-color:#161821;color:#e27878;}
.htmlTagName{color:#84a0c6;}
.htmlTitle{color:#e2a478;}
.htmlValue{color:#89b8c2;}
.Identifier{color:#89b8c2;}
.Include{color:#b4be82;}
.jsArgsObj{color:#b4be82;}
.jsBooleanFalse{color:#a093c7;}
.jsBooleanTrue{color:#a093c7;}
.jsBranch{color:#84a0c6;}
.jsBuiltins{color:#b4be82;}
.jsCharacter{color:#a093c7;}
.jsComment{color:#6b7089;}
.jsCommentTodo{background-color:#161821;color:#d8e599;}
.jsConditional{color:#84a0c6;}
.jsCssStyles{color:#84a0c6;}
.jsCvsTag{color:#e2a478;}
.jsDocComment{color:#6b7089;}
.jsDocParam{color:#84a0c6;}
.jsDocSeeTag{color:#e2a478;}
.jsDocTags{color:#b4be82;}
.jsDocType{color:#89b8c2;}
.jsDocTypeNoParam{color:#89b8c2;}
.jsDomElemAttrs{color:#84a0c6;}
.jsDomElemFuncs{color:#b4be82;}
.jsDomErrNo{color:#a093c7;}
.jsDomNodeConsts{color:#a093c7;}
.jsEnvComment{color:#b4be82;}
.jsError{background-color:#161821;color:#e27878;}
.jsException{color:#84a0c6;}
.jsExceptions{color:#b4be82;}
.jsFloat{color:#a093c7;}
.jsFuncName{color:#e2a478;}
.jsFunction{color:#e2a478;}
.jsFutureKeys{color:#b4be82;}
.jsGlobalObjects{color:#b4be82;}
.jsHtmlElemAttrs{color:#84a0c6;}
.jsHtmlElemFuncs{color:#b4be82;}
.jsHtmlEvents{color:#b4be82;}
.jsKeyword{color:#84a0c6;}
.jsLabel{color:#84a0c6;}
.jsLineComment{color:#6b7089;}
.jsNan{color:#a093c7;}
.jsNull{color:#89b8c2;}
.jsNumber{color:#a093c7;}
.jsOperator{color:#84a0c6;}
.jsParensErrA{background-color:#161821;color:#e27878;}
.jsParensErrB{background-color:#161821;color:#e27878;}
.jsParensErrC{background-color:#161821;color:#e27878;}
.jsParensError{background-color:#161821;color:#e27878;}
.jsPrototype{color:#b4be82;}
.jsRegexpBackRef{color:#b4be82;}
.jsRegexpBoundary{color:#b4be82;}
.jsRegexpCharClass{color:#a093c7;}
.jsRegexpGroup{color:#89b8c2;}
.jsRegexpMod{color:#b4be82;}
.jsRegexpOr{color:#84a0c6;}
.jsRegexpQuantifier{color:#b4be82;}
.jsRegexpString{color:#89b8c2;}
.jsRepeat{color:#84a0c6;}
.jsReturn{color:#84a0c6;}
.jsSpecial{color:#b4be82;}
.jsStatement{color:#84a0c6;}
.jsStorageClass{color:#84a0c6;}
.jsStringD{color:#89b8c2;}
.jsStringS{color:#89b8c2;}
.jsTernaryIfOperator{color:#84a0c6;}
.jsThis{color:#b4be82;}
.jsUndefined{color:#89b8c2;}
.Keyword{color:#84a0c6;}
.Label{color:#84a0c6;}
.LineNr{background-color:#1e2132;color:#444b71;}
.luaBraceError{background-color:#161821;color:#e27878;}
.luaComment{color:#6b7089;}
.luaCond{color:#84a0c6;}
.luaConstant{color:#a093c7;}
.luaElse{color:#84a0c6;}
.luaError{background-color:#161821;color:#e27878;}
.luaFor{color:#84a0c6;}
.luaFunc{color:#89b8c2;}
.luaFunction{color:#e2a478;}
.luaIn{color:#84a0c6;}
.luaLabel{color:#84a0c6;}
.luaNumber{color:#a093c7;}
.luaOperator{color:#84a0c6;}
.luaParenError{background-color:#161821;color:#e27878;}
.luaRepeat{color:#84a0c6;}
.luaSpecial{color:#b4be82;}
.luaStatement{color:#84a0c6;}
.luaString{color:#89b8c2;}
.luaString2{color:#89b8c2;}
.luaTable{color:#89b8c2;}
.luaTodo{background-color:#161821;color:#d8e599;}
.Macro{color:#b4be82;}
.markdownAutomaticLink{color:#a093c7;}
.markdownBlockquote{color:#6b7089;}
.markdownCode{color:#89b8c2;}
.markdownCodeDelimiter{color:#89b8c2;}
.markdownError{background-color:#161821;color:#e27878;}
.markdownEscape{color:#b4be82;}
.markdownH1{color:#e2a478;}
.markdownH2{color:#e2a478;}
.markdownH3{color:#e2a478;}
.markdownH4{color:#e2a478;}
.markdownH5{color:#e2a478;}
.markdownH6{color:#e2a478;}
.markdownHeadingDelimiter{color:#6b7089;}
.markdownHeadingRule{color:#6b7089;}
.markdownId{color:#89b8c2;}
.markdownIdDeclaration{color:#89b8c2;}
.markdownLinkText{color:#84a0c6;}
.markdownListMarker{color:#84a0c6;}
.markdownOrderedListMarker{color:#84a0c6;}
.markdownRule{color:#6b7089;}
.markdownUrl{color:#a093c7;}
.markdownUrlDelimiter{color:#84a0c6;}
.markdownUrlTitle{color:#89b8c2;}
.markdownUrlTitleDelimiter{color:#c6c8d1;}
.MatchParen{background-color:#3e445e;color:#ffffff;}
.MoreMsg{color:#b4be82;}
.NonText{background-color:#161821;color:#242940;}
.Normal{background-color:#161821;color:#c6c8d1;}
.Number{color:#a093c7;}
.Operator{color:#84a0c6;}
.perlAnglesDQ{color:#89b8c2;}
.perlAnglesSQ{color:#89b8c2;}
.perlArrow{color:#89b8c2;}
.perlBracesDQ{color:#89b8c2;}
.perlBracesSQ{color:#89b8c2;}
.perlBracketsDQ{color:#89b8c2;}
.perlBracketsSQ{color:#89b8c2;}
.perlCharacter{color:#a093c7;}
.perlComment{color:#6b7089;}
.perlConditional{color:#84a0c6;}
.perlControl{color:#b4be82;}
.perlDATA{color:#6b7089;}
.perlElseIfError{background-color:#161821;color:#e27878;}
.perlFiledescRead{color:#89b8c2;}
.perlFiledescStatement{color:#89b8c2;}
.perlFloat{color:#a093c7;}
.perlFormatField{color:#89b8c2;}
.perlFormatName{color:#89b8c2;}
.perlFunction{color:#84a0c6;}
.perlFunctionName{color:#89b8c2;}
.perlFunctionPRef{color:#89b8c2;}
.perlHereDoc{color:#89b8c2;}
.perlIdentifier{color:#89b8c2;}
.perlInclude{color:#b4be82;}
.perlLabel{color:#84a0c6;}
.perlList{color:#84a0c6;}
.perlMatch{color:#89b8c2;}
.perlMatchStartEnd{color:#84a0c6;}
.perlMethod{color:#89b8c2;}
.perlMisc{color:#84a0c6;}
.perlNotEmptyLine{background-color:#161821;color:#e27878;}
.perlNumber{color:#a093c7;}
.perlOperator{color:#84a0c6;}
.perlPackageDecl{color:#89b8c2;}
.perlPackageRef{color:#89b8c2;}
.perlParensDQ{color:#89b8c2;}
.perlParensSQ{color:#89b8c2;}
.perlPOD{color:#6b7089;}
.perlQQ{color:#89b8c2;}
.perlRepeat{color:#84a0c6;}
.perlSharpBang{color:#b4be82;}
.perlShellCommand{color:#89b8c2;}
.perlSpecial{color:#b4be82;}
.perlSpecialAscii{color:#b4be82;}
.perlSpecialDollar{color:#b4be82;}
.perlSpecialMatch{color:#b4be82;}
.perlSpecialString{color:#b4be82;}
.perlSpecialStringU{color:#b4be82;}
.perlSpecialStringU2{color:#89b8c2;}
.perlStatement{color:#84a0c6;}
.perlStatementControl{color:#84a0c6;}
.perlStatementFiledesc{color:#84a0c6;}
.perlStatementFiles{color:#84a0c6;}
.perlStatementFlow{color:#84a0c6;}
.perlStatementHash{color:#84a0c6;}
.perlStatementInclude{color:#84a0c6;}
.perlStatementIndirObj{color:#84a0c6;}
.perlStatementIOfunc{color:#84a0c6;}
.perlStatementIPC{color:#84a0c6;}
.perlStatementList{color:#84a0c6;}
.perlStatementMisc{color:#84a0c6;}
.perlStatementNetwork{color:#84a0c6;}
.perlStatementNumeric{color:#84a0c6;}
.perlStatementPackage{color:#84a0c6;}
.perlStatementProc{color:#84a0c6;}
.perlStatementPword{color:#84a0c6;}
.perlStatementRegexp{color:#84a0c6;}
.perlStatementScalar{color:#84a0c6;}
.perlStatementSocket{color:#84a0c6;}
.perlStatementStorage{color:#84a0c6;}
.perlStatementTime{color:#84a0c6;}
.perlStatementVector{color:#84a0c6;}
.perlStorageClass{color:#89b8c2;}
.perlString{color:#89b8c2;}
.perlStringStartEnd{color:#89b8c2;}
.perlStringUnexpanded{color:#89b8c2;}
.perlSubAttributes{color:#b4be82;}
.perlSubAttributesCont{color:#b4be82;}
.perlSubError{background-color:#161821;color:#e27878;}
.perlSubName{color:#e2a478;}
.perlSubPrototype{color:#89b8c2;}
.perlSubPrototypeError{background-color:#161821;color:#e27878;}
.perlSubstitutionGQQ{color:#89b8c2;}
.perlSubstitutionSQ{color:#89b8c2;}
.perlTodo{background-color:#161821;color:#d8e599;}
.perlTranslationGQ{color:#89b8c2;}
.perlType{color:#89b8c2;}
.perlVarNotInMatches{color:#89b8c2;}
.perlVarPlain{color:#89b8c2;}
.perlVarPlain2{color:#89b8c2;}
.perlVarSimpleMember{color:#89b8c2;}
.perlVarSimpleMemberName{color:#89b8c2;}
.perlVarSlash{color:#89b8c2;}
.perlVStringV{color:#89b8c2;}
.phpAssignByRef{color:#89b8c2;}
.phpBackslashDoubleQuote{color:#b4be82;}
.phpBackslashSequences{color:#b4be82;}
.phpBackslashSingleQuote{color:#b4be82;}
.phpBacktick{color:#89b8c2;}
.phpBaselib{color:#e2a478;}
.phpBoolean{color:#a093c7;}
.phpBrackets{color:#c6c8d1;}
.phpClasses{color:#e2a478;}
.phpComment{color:#6b7089;}
.phpComparison{color:#84a0c6;}
.phpConditional{color:#84a0c6;}
.phpConstant{color:#a093c7;}
.phpCoreConstant{color:#a093c7;}
.phpDefine{color:#b4be82;}
.phpDocCustomTags{color:#89b8c2;}
.phpDocTags{color:#b4be82;}
.phpDocTodo{background-color:#161821;color:#d8e599;}
.phpEnvVar{color:#89b8c2;}
.phpException{color:#84a0c6;}
.phpFCKeyword{color:#b4be82;}
.phpFloat{color:#a093c7;}
.phpFunctions{color:#e2a478;}
.phpIdentifier{color:#89b8c2;}
.phpIdentifierConst{color:#c6c8d1;}
.phpIdentifierSimply{color:#89b8c2;}
.phpInclude{color:#b4be82;}
.phpInterfaces{color:#a093c7;}
.phpInterpBogusDollarCurley{background-color:#161821;color:#e27878;}
.phpInterpDollarCurly1{background-color:#161821;color:#e27878;}
.phpInterpDollarCurly2{background-color:#161821;color:#e27878;}
.phpinterpSimpleBracketsInner{color:#89b8c2;}
.phpInterpSimpleCurly{color:#c6c8d1;}
.phpInterpSimpleError{background-color:#161821;color:#e27878;}
.phpInterpVarname{color:#89b8c2;}
.phpIntVar{color:#89b8c2;}
.phpKeyword{color:#84a0c6;}
.phpLabel{color:#84a0c6;}
.phpMemberSelector{color:#89b8c2;}
.phpMethods{color:#e2a478;}
.phpNumber{color:#a093c7;}
.phpOctalError{background-color:#161821;color:#e27878;}
.phpOperator{color:#84a0c6;}
.phpParent{color:#c6c8d1;}
.phpParentError{background-color:#161821;color:#e27878;}
.phpRelation{color:#84a0c6;}
.phpRepeat{color:#84a0c6;}
.phpSCKeyword{color:#84a0c6;}
.phpSpecialFunction{color:#84a0c6;}
.phpStatement{color:#84a0c6;}
.phpStorageClass{color:#84a0c6;}
.phpStringDouble{color:#89b8c2;}
.phpStringSingle{color:#89b8c2;}
.phpStructure{color:#89b8c2;}
.phpTodo{background-color:#161821;color:#d8e599;}
.phpType{color:#89b8c2;}
.phpVarSelector{color:#89b8c2;}
.Pmenu{background-color:#3d425b;color:#c6c8d1;}
.PmenuSbar{background-color:#3d425b;}
.PmenuSel{background-color:#5b6389;color:#eff0f4;}
.PmenuThumb{background-color:#c6c8d1;}
.podCmdText{color:#89b8c2;}
.podCommand{color:#84a0c6;}
.podEscape{color:#89b8c2;}
.podEscape2{color:#a093c7;}
.podForKeywd{color:#89b8c2;}
.podFormat{color:#89b8c2;}
.podOverIndent{color:#a093c7;}
.podSpecial{color:#89b8c2;}
.podVerbatimLine{color:#b4be82;}
.PreCondit{color:#b4be82;}
.PreProc{color:#b4be82;}
.pythonBuiltin{color:#e2a478;}
.pythonComment{color:#6b7089;}
.pythonConditional{color:#84a0c6;}
.pythonDecorator{color:#b4be82;}
.pythonDoctest{color:#b4be82;}
.pythonDoctestValue{color:#b4be82;}
.pythonEscape{color:#b4be82;}
.pythonException{color:#84a0c6;}
.pythonExceptions{color:#89b8c2;}
.pythonFunction{color:#e2a478;}
.pythonInclude{color:#b4be82;}
.pythonNumber{color:#a093c7;}
.pythonOperator{color:#84a0c6;}
.pythonRawString{color:#89b8c2;}
.pythonRepeat{color:#84a0c6;}
.pythonStatement{color:#84a0c6;}
.pythonString{color:#89b8c2;}
.pythonTodo{background-color:#161821;color:#d8e599;}
.Question{color:#b4be82;}
.Repeat{color:#84a0c6;}
.rubyAccess{color:#84a0c6;}
.rubyASCIICode{color:#a093c7;}
.rubyAttribute{color:#84a0c6;}
.rubyBeginEnd{color:#84a0c6;}
.rubyBlockParameter{color:#89b8c2;}
.rubyBoolean{color:#a093c7;}
.rubyClass{color:#84a0c6;}
.rubyClassVariable{color:#89b8c2;}
.rubyComment{color:#6b7089;}
.rubyConditional{color:#84a0c6;}
.rubyConditionalModifier{color:#84a0c6;}
.rubyConstant{color:#89b8c2;}
.rubyControl{color:#84a0c6;}
.rubyData{color:#6b7089;}
.rubyDataDirective{color:#c6c8d1;}
.rubyDefine{color:#84a0c6;}
.rubyDocumentation{color:#6b7089;}
.rubyError{background-color:#161821;color:#e27878;}
.rubyEval{color:#84a0c6;}
.rubyException{color:#84a0c6;}
.rubyExceptional{color:#84a0c6;}
.rubyFloat{color:#a093c7;}
.rubyFunction{color:#e2a478;}
.rubyGlobalVariable{color:#89b8c2;}
.rubyHeredoc{color:#89b8c2;}
.rubyIdentifier{color:#89b8c2;}
.rubyInclude{color:#84a0c6;}
.rubyInstanceVariable{color:#89b8c2;}
.rubyInteger{color:#a093c7;}
.rubyInterpolationDelimiter{color:#89b8c2;}
.rubyInvalidVariable{background-color:#161821;color:#e27878;}
.rubyKeyword{color:#84a0c6;}
.rubyMethodExceptional{color:#84a0c6;}
.rubyModule{color:#84a0c6;}
.rubyNoInterpolation{color:#89b8c2;}
.rubyOperator{color:#84a0c6;}
.rubyOptionalDo{color:#84a0c6;}
.rubyPredefinedConstant{color:#89b8c2;}
.rubyPredefinedIdentifier{color:#89b8c2;}
.rubyPredefinedVariable{color:#89b8c2;}
.rubyPseudoVariable{color:#a093c7;}
.rubyQuoteEscape{color:#b4be82;}
.rubyRegexp{color:#89b8c2;}
.rubyRegexpAnchor{color:#b4be82;}
.rubyRegexpCharClass{color:#b4be82;}
.rubyRegexpComment{color:#6b7089;}
.rubyRegexpDelimiter{color:#89b8c2;}
.rubyRegexpDot{color:#b4be82;}
.rubyRegexpEscape{color:#b4be82;}
.rubyRegexpQuantifier{color:#b4be82;}
.rubyRegexpSpecial{color:#b4be82;}
.rubyRepeat{color:#84a0c6;}
.rubyRepeatModifier{color:#84a0c6;}
.rubySharpBang{color:#6b7089;}
.rubySpaceError{background-color:#161821;color:#e27878;}
.rubyString{color:#89b8c2;}
.rubyStringDelimiter{color:#89b8c2;}
.rubyStringEscape{color:#b4be82;}
.rubySymbol{color:#a093c7;}
.rubySymbolDelimiter{color:#89b8c2;}
.rubyTodo{background-color:#161821;color:#d8e599;}
.Search{background-color:#e4aa80;color:#392313;}
.SignColumn{background-color:#1e2132;color:#444b71;}
.Special{color:#b4be82;}
.SpecialChar{color:#b4be82;}
.SpecialComment{color:#b4be82;}
.SpecialKey{background-color:#161821;color:#242940;}
.sqlComment{color:#6b7089;}
.sqlKeyword{color:#b4be82;}
.sqlNumber{color:#a093c7;}
.sqlOperator{color:#84a0c6;}
.sqlSpecial{color:#b4be82;}
.sqlStatement{color:#84a0c6;}
.sqlString{color:#89b8c2;}
.sqlTodo{background-color:#161821;color:#d8e599;}
.sqlType{color:#89b8c2;}
.Statement{color:#84a0c6;}
.StatusLine{background-color:#17171b;color:#818596;}
.StatusLineNC{background-color:#3e445e;color:#0f1117;}
.StorageClass{color:#84a0c6;}
.String{color:#89b8c2;}
.Structure{color:#89b8c2;}
.svssBraces{color:#c6c8d1;}
.SyntasticErrorSign{background-color:#161821;color:#e27878;}
.SyntasticStyleErrorSign{background-color:#161821;color:#e27878;}
.SyntasticStyleWarningSign{background-color:#161821;color:#d8e599;}
.SyntasticWarningSign{background-color:#161821;color:#d8e599;}
.TabLine{background-color:#818596;color:#17171b;}
.TabLineFill{background-color:#17171b;color:#818596;}
.TabLineSel{background-color:#161821;color:#9a9ca5;}
.Tag{color:#b4be82;}
.Title{color:#e2a478;}
.Todo{background-color:#161821;color:#d8e599;}
.Type{color:#89b8c2;}
.Typedef{color:#89b8c2;}
.Underlined{color:#84a0c6;}
.vbBoolean{color:#a093c7;}
.vbComment{color:#6b7089;}
.vbConditional{color:#84a0c6;}
.vbConst{color:#a093c7;}
.vbDefine{color:#a093c7;}
.vbError{background-color:#161821;color:#e27878;}
.vbEvents{color:#b4be82;}
.vbFloat{color:#a093c7;}
.vbFunction{color:#89b8c2;}
.vbIdentifier{color:#89b8c2;}
.vbKeyword{color:#84a0c6;}
.vbLineNumber{color:#6b7089;}
.vbMethods{color:#b4be82;}
.vbNumber{color:#a093c7;}
.vbOperator{color:#84a0c6;}
.vbRepeat{color:#84a0c6;}
.vbStatement{color:#84a0c6;}
.vbString{color:#89b8c2;}
.vbTodo{background-color:#161821;color:#d8e599;}
.vbTypes{color:#89b8c2;}
.vbTypeSpecifier{color:#89b8c2;}
.VertSplit{background-color:#0f1117;color:#0f1117;}
.vimAbb{color:#84a0c6;}
.vimAddress{color:#a093c7;}
.vimAugroupKey{color:#84a0c6;}
.vimAuHighlight{color:#84a0c6;}
.vimAutoCmd{color:#84a0c6;}
.vimAutoCmdOpt{color:#b4be82;}
.vimAutoEvent{color:#89b8c2;}
.vimAutoSet{color:#84a0c6;}
.vimBehave{color:#84a0c6;}
.vimBehaveError{background-color:#161821;color:#e27878;}
.vimBehaveModel{color:#84a0c6;}
.vimBracket{color:#c6c8d1;}
.vimBufnrWarn{background-color:#161821;color:#e27878;}
.vimCmplxRepeat{color:#b4be82;}
.vimCollClassErr{background-color:#161821;color:#e27878;}
.vimCommand{color:#84a0c6;}
.vimComment{color:#6b7089;}
.vimCommentString{color:#89b8c2;}
.vimCommentTitle{color:#b4be82;}
.vimCondHL{color:#84a0c6;}
.vimContinue{color:#6b7089;}
.vimCtrlChar{color:#b4be82;}
.vimEchoHL{color:#84a0c6;}
.vimEchoHLNone{color:#89b8c2;}
.vimElseif{color:#84a0c6;}
.vimElseIfErr{background-color:#161821;color:#e27878;}
.vimEmbedError{background-color:#161821;color:#e27878;}
.vimEnvvar{color:#b4be82;}
.vimError{background-color:#161821;color:#e27878;}
.vimErrSetting{background-color:#161821;color:#e27878;}
.vimFBVar{color:#89b8c2;}
.vimFgBgAttrib{color:#b4be82;}
.vimFold{background-color:#1e2132;color:#686f9a;}
.vimFTCmd{color:#84a0c6;}
.vimFTError{background-color:#161821;color:#e27878;}
.vimFTOption{color:#89b8c2;}
.vimFunc{background-color:#161821;color:#e27878;}
.vimFuncKey{color:#84a0c6;}
.vimFuncName{color:#e2a478;}
.vimFuncSID{color:#b4be82;}
.vimFunctionError{background-color:#161821;color:#e27878;}
.vimFuncVar{color:#89b8c2;}
.vimGroup{color:#89b8c2;}
.vimGroupAdd{color:#b4be82;}
.vimGroupName{color:#89b8c2;}
.vimGroupRem{color:#b4be82;}
.vimGroupSpecial{color:#b4be82;}
.vimHiAttrib{color:#b4be82;}
.vimHiAttribList{background-color:#161821;color:#e27878;}
.vimHiClear{color:#84a0c6;}
.vimHiCTerm{color:#89b8c2;}
.vimHiCtermError{background-color:#161821;color:#e27878;}
.vimHiCtermFgBg{color:#89b8c2;}
.vimHighlight{color:#84a0c6;}
.vimHiGroup{color:#89b8c2;}
.vimHiGui{color:#89b8c2;}
.vimHiGuiFgBg{color:#89b8c2;}
.vimHiGuiFont{color:#89b8c2;}
.vimHiGuiRgb{color:#a093c7;}
.vimHiKeyError{background-color:#161821;color:#e27878;}
.vimHiNmbr{color:#a093c7;}
.vimHiStartStop{color:#89b8c2;}
.vimHiTerm{color:#89b8c2;}
.vimHLGroup{color:#89b8c2;}
.vimHLMod{color:#b4be82;}
.vimInsert{color:#89b8c2;}
.vimIsCommand{color:#84a0c6;}
.vimKeyCode{color:#89b8c2;}
.vimKeyCodeError{background-color:#161821;color:#e27878;}
.vimKeyword{color:#84a0c6;}
.vimLet{color:#84a0c6;}
.vimLineComment{color:#6b7089;}
.vimMap{color:#84a0c6;}
.vimMapBang{color:#84a0c6;}
.vimMapMod{color:#c6c8d1;}
.vimMapModErr{background-color:#161821;color:#e27878;}
.vimMapModKey{color:#b4be82;}
.vimMark{color:#a093c7;}
.vimMarkNumber{color:#a093c7;}
.vimMenuMod{color:#c6c8d1;}
.vimMenuName{color:#b4be82;}
.vimMenuNameMore{color:#b4be82;}
.vimMtchComment{color:#6b7089;}
.vimNorm{color:#84a0c6;}
.vimNotation{color:#b4be82;}
.vimNotFunc{color:#84a0c6;}
.vimNotPatSep{color:#89b8c2;}
.vimNumber{color:#a093c7;}
.vimOper{color:#84a0c6;}
.vimOperError{background-color:#161821;color:#e27878;}
.vimOption{color:#b4be82;}
.vimParenSep{color:#c6c8d1;}
.vimPatSep{color:#b4be82;}
.vimPatSepErr{color:#b4be82;}
.vimPatSepR{color:#b4be82;}
.vimPatSepZ{color:#b4be82;}
.vimPatSepZone{color:#89b8c2;}
.vimPattern{color:#89b8c2;}
.vimPlainMark{color:#a093c7;}
.vimPlainRegister{color:#b4be82;}
.vimRegister{color:#b4be82;}
.vimScriptDelim{color:#6b7089;}
.vimSearch{color:#89b8c2;}
.vimSearchDelim{color:#84a0c6;}
.vimSep{color:#c6c8d1;}
.vimSetMod{color:#b4be82;}
.vimSetSep{color:#84a0c6;}
.vimSetString{color:#89b8c2;}
.vimSpecFile{color:#89b8c2;}
.vimSpecFileMod{color:#89b8c2;}
.vimSpecial{color:#89b8c2;}
.vimStatement{color:#84a0c6;}
.vimString{color:#89b8c2;}
.vimStringCont{color:#89b8c2;}
.vimSubst{color:#84a0c6;}
.vimSubst1{color:#84a0c6;}
.vimSubstDelim{color:#c6c8d1;}
.vimSubstFlagErr{background-color:#161821;color:#e27878;}
.vimSubstFlags{color:#b4be82;}
.vimSubstSubstr{color:#b4be82;}
.vimSubstTwoBS{color:#89b8c2;}
.vimSynCase{color:#89b8c2;}
.vimSynCaseError{background-color:#161821;color:#e27878;}
.vimSyncC{color:#89b8c2;}
.vimSyncError{background-color:#161821;color:#e27878;}
.vimSyncGroup{color:#89b8c2;}
.vimSyncGroupName{color:#89b8c2;}
.vimSyncKey{color:#89b8c2;}
.vimSyncNone{color:#89b8c2;}
.vimSynContains{color:#b4be82;}
.vimSynError{background-color:#161821;color:#e27878;}
.vimSynKeyContainedin{color:#b4be82;}
.vimSynKeyOpt{color:#b4be82;}
.vimSynMtchGrp{color:#b4be82;}
.vimSynMtchOpt{color:#b4be82;}
.vimSynNextgroup{color:#b4be82;}
.vimSynNotPatRange{color:#89b8c2;}
.vimSynOption{color:#b4be82;}
.vimSynPatRange{color:#89b8c2;}
.vimSynReg{color:#89b8c2;}
.vimSynRegOpt{color:#b4be82;}
.vimSynRegPat{color:#89b8c2;}
.vimSyntax{color:#84a0c6;}
.vimSynType{color:#89b8c2;}
.vimTodo{background-color:#161821;color:#d8e599;}
.vimUnmap{color:#84a0c6;}
.vimUserAttrb{color:#89b8c2;}
.vimUserAttrbCmplt{color:#89b8c2;}
.vimUserAttrbCmpltFunc{color:#b4be82;}
.vimUserAttrbKey{color:#b4be82;}
.vimUserCmdError{background-color:#161821;color:#e27878;}
.vimUserCommand{color:#84a0c6;}
.vimUserFunc{background-color:#161821;color:#c6c8d1;}
.vimVar{color:#89b8c2;}
.vimWarn{background-color:#161821;color:#e27878;}
.Visual{background-color:#272c42;}
.WarningMsg{background-color:#161821;color:#e27878;}
.WildMenu{background-color:#d4d5db;color:#17171b;}
.xmlAttribPunct{color:#84a0c6;}
.xmlEndTag{color:#84a0c6;}
.xmlNamespace{color:#84a0c6;}
.xmlTag{color:#84a0c6;}
.xmlTagName{color:#84a0c6;}
.yamlKeyValueDelimiter{color:#c6c8d1;}
}
