.preview {
	background-color: $iceberg-normal-bg;
	color: $iceberg-normal-fg;
}

.Boolean{color:#a093c7;}
.Character{color:#a093c7;}
.ColorColumn{background-color:#1e2132;}
.Comment{color:#6b7089;}
.Conceal{background-color:DarkGrey;color:LightGrey;}
.Conditional{color:#84a0c6;}
.Constant{color:#a093c7;}
.cssAnimationAttr{color:#a093c7;}
.cssAnimationProp{color:#84a0c6;}
.cssAtKeyword{color:#b4be82;}
.cssAtRule{color:#84a0c6;}
.cssAtRuleLogical{color:#84a0c6;}
.cssAttr{color:#a093c7;}
.cssAttrComma{color:#b4be82;}
.cssAttributeSelector{color:#89b8c2;}
.cssAuralAttr{color:#a093c7;}
.cssAuralProp{color:#84a0c6;}
.cssBackgroundAttr{color:#a093c7;}
.cssBackgroundProp{color:#84a0c6;}
.cssBorderAttr{color:#a093c7;}
.cssBorderProp{color:#84a0c6;}
.cssBoxAttr{color:#a093c7;}
.cssBoxProp{color:#84a0c6;}
.cssBraceError{background-color:#161821;color:#e27878;}
.cssBraces{color:#c6c8d1;}
.cssClassName{color:#b4be82;}
.cssClassNameDot{background-color:#161821;color:#c6c8d1;}
.cssColor{color:#a093c7;}
.cssColorProp{color:#84a0c6;}
.cssComment{color:#6b7089;}
.cssCommonAttr{color:#a093c7;}
.cssContentForPagedMediaAttr{color:#a093c7;}
.cssContentForPagedMediaProp{color:#84a0c6;}
.cssDeprecated{background-color:#161821;color:#e27878;}
.cssDimensionAttr{color:#a093c7;}
.cssDimensionProp{color:#84a0c6;}
.cssError{background-color:#161821;color:#e27878;}
.cssFlexibleBoxAttr{color:#a093c7;}
.cssFlexibleBoxProp{color:#84a0c6;}
.cssFontAttr{color:#a093c7;}
.cssFontDescriptor{color:#b4be82;}
.cssFontDescriptorAttr{color:#a093c7;}
.cssFontDescriptorProp{color:#84a0c6;}
.cssFontProp{color:#84a0c6;}
.cssFunction{color:#a093c7;}
.cssFunctionComma{color:#c6c8d1;}
.cssFunctionName{color:#c6c8d1;}
.cssGeneratedContentAttr{color:#a093c7;}
.cssGeneratedContentProp{color:#84a0c6;}
.cssGradientAttr{color:#a093c7;}
.cssGridAttr{color:#a093c7;}
.cssGridProp{color:#84a0c6;}
.cssHacks{color:#6b7089;}
.cssHyerlinkAttr{color:#a093c7;}
.cssHyerlinkProp{color:#84a0c6;}
.cssIdentifier{color:#c6c8d1;}
.cssIEUIAttr{color:#a093c7;}
.cssIEUIProp{color:#84a0c6;}
.cssImportant{color:#b4be82;}
.cssInteractAttr{color:#a093c7;}
.cssInteractProp{color:#84a0c6;}
.cssKeyFrameProp{color:#a093c7;}
.cssLineboxAttr{color:#a093c7;}
.cssLineboxProp{color:#84a0c6;}
.cssListAttr{color:#a093c7;}
.cssListProp{color:#84a0c6;}
.cssMarginAttr{color:#a093c7;}
.cssMarqueeAttr{color:#a093c7;}
.cssMarqueeProp{color:#84a0c6;}
.cssMediaAttr{color:#a093c7;}
.cssMediaComma{background-color:#161821;color:#c6c8d1;}
.cssMediaProp{color:#84a0c6;}
.cssMediaType{color:#b4be82;}
.cssMobileTextProp{color:#84a0c6;}
.cssMultiColumnAttr{color:#a093c7;}
.cssMultiColumnProp{color:#84a0c6;}
.cssPaddingAttr{color:#a093c7;}
.cssPagedMediaAttr{color:#a093c7;}
.cssPagedMediaProp{color:#84a0c6;}
.cssPageMarginProp{color:#b4be82;}
.cssPageProp{color:#84a0c6;}
.cssPagePseudo{color:#b4be82;}
.cssPositioningAttr{color:#a093c7;}
.cssPositioningProp{color:#84a0c6;}
.cssPrintAttr{color:#a093c7;}
.cssPrintProp{color:#84a0c6;}
.cssProp{color:#84a0c6;}
.cssPseudoClassId{color:#b4be82;}
.cssPseudoClassLang{color:#a093c7;}
.cssRenderAttr{color:#a093c7;}
.cssRenderProp{color:#84a0c6;}
.cssRubyAttr{color:#a093c7;}
.cssRubyProp{color:#84a0c6;}
.cssSelectorOp{color:#b4be82;}
.cssSelectorOp2{color:#b4be82;}
.cssSpeechAttr{color:#a093c7;}
.cssSpeechProp{color:#84a0c6;}
.cssStringQ{color:#89b8c2;}
.cssStringQQ{color:#89b8c2;}
.cssTableAttr{color:#a093c7;}
.cssTableProp{color:#84a0c6;}
.cssTagName{color:#84a0c6;}
.cssTextAttr{color:#a093c7;}
.cssTextProp{color:#84a0c6;}
.cssTransformAttr{color:#a093c7;}
.cssTransformProp{color:#84a0c6;}
.cssTransitionAttr{color:#a093c7;}
.cssTransitionProp{color:#84a0c6;}
.cssUIAttr{color:#a093c7;}
.cssUIProp{color:#84a0c6;}
.cssUnicodeEscape{color:#b4be82;}
.cssUnicodeRange{color:#a093c7;}
.cssUnitDecorators{color:#a093c7;}
.cssURL{color:#89b8c2;}
.cssValueAngle{color:#a093c7;}
.cssValueFrequency{color:#a093c7;}
.cssValueInteger{color:#a093c7;}
.cssValueLength{color:#a093c7;}
.cssValueNumber{color:#a093c7;}
.cssValueTime{color:#a093c7;}
.cssVendor{color:#6b7089;}
.CtrlPMatch{color:#e2a478;}
.CtrlPMode1{background-color:#5a5f72;color:#17171b;}
.CtrlPMode2{background-color:#818596;color:#17171b;}
.CtrlPPrtCursor{background-color:#c6c8d1;color:#161821;}
.Cursor{background-color:#c6c8d1;color:#161821;}
.CursorColumn{background-color:#1e2132;}
.CursorLine{background-color:#1e2132;}
.CursorLineNr{background-color:#2a3158;color:#cdd1e6;}
.Debug{color:#b4be82;}
.Define{color:#b4be82;}
.Delimiter{color:#c6c8d1;}
.deniteMatched{background-color:#161821;color:#c6c8d1;}
.deniteMatchedChar{color:#e2a478;}
.DiffAdd{background-color:#45493e;color:#c0c5b9;}
.diffAdded{color:#b4be82;}
.DiffChange{background-color:#384851;color:#b3c3cc;}
.DiffDelete{background-color:#53343b;color:#ceb0b6;}
.diffRemoved{color:#e27878;}
.DiffText{background-color:#5b7881;color:#c6c8d1;}
.Directory{color:#89b8c2;}
.dtdAttrDef{color:#84a0c6;}
.dtdAttrType{color:#84a0c6;}
.dtdCard{color:#c6c8d1;}
.dtdComment{color:#6b7089;}
.dtdConstant{color:#a093c7;}
.dtdEntity{color:#84a0c6;}
.dtdEntityPunct{color:#84a0c6;}
.dtdEnum{color:#a093c7;}
.dtdError{background-color:#161821;color:#e27878;}
.dtdFunction{color:#c6c8d1;}
.dtdParamEntityDecl{color:#84a0c6;}
.dtdParamEntityDPunct{color:#6b7089;}
.dtdParamEntityInst{color:#a093c7;}
.dtdParamEntityPunct{color:#84a0c6;}
.dtdString{color:#a093c7;}
.dtdTag{background-color:#161821;color:#c6c8d1;}
.dtdTagName{color:#84a0c6;}
.dtdTodo{background-color:#45493e;color:#b4be82;}
.dtdType{color:#84a0c6;}
.EndOfBuffer{background-color:#161821;color:#242940;}
.Error{background-color:#161821;color:#e27878;}
.ErrorMsg{background-color:#161821;color:#e27878;}
.Exception{color:#84a0c6;}
.Float{color:#a093c7;}
.FoldColumn{background-color:#1e2132;color:#444b71;}
.Folded{background-color:#1e2132;color:#686f9a;}
.Function{color:#c6c8d1;}
.goBoolean{color:#a093c7;}
.goBuiltins{color:#84a0c6;}
.goCharacter{color:#a093c7;}
.goComment{color:#6b7089;}
.goComplexes{color:#84a0c6;}
.goConditional{color:#84a0c6;}
.goConst{color:#84a0c6;}
.goCoverageCovered{color:#A6E22E;}
.goCoverageNormalText{color:#6b7089;}
.goCoverageUncover{color:#F92672;}
.GoDebugBreakpoint{background-color:#BAD4F5;color:Black;}
.GoDebugCurrent{background-color:DarkBlue;color:White;}
.goDecimalInt{color:#a093c7;}
.goDeclaration{color:#84a0c6;}
.goDeclType{color:#84a0c6;}
.goEscapeBigU{color:#b4be82;}
.goEscapeC{color:#b4be82;}
.goEscapeError{background-color:#161821;color:#e27878;}
.goEscapeOctal{color:#b4be82;}
.goEscapeU{color:#b4be82;}
.goEscapeX{color:#b4be82;}
.goExtraType{color:#84a0c6;}
.goField{color:#89b8c2;}
.goFloat{color:#a093c7;}
.goFloats{color:#84a0c6;}
.goFormatSpecifier{color:#b4be82;}
.goFunction{color:#c6c8d1;}
.goFunctionCall{color:#84a0c6;}
.goHexadecimalInt{color:#a093c7;}
.goImaginary{color:#a093c7;}
.goImaginaryFloat{color:#a093c7;}
.goImport{color:#84a0c6;}
.goLabel{color:#84a0c6;}
.goOctalError{background-color:#161821;color:#e27878;}
.goOctalInt{color:#a093c7;}
.goOperator{color:#84a0c6;}
.goPackage{color:#84a0c6;}
.goPackageComment{color:#6b7089;}
.goPredefinedIdentifiers{color:#a093c7;}
.goRawString{color:#89b8c2;}
.goRepeat{color:#84a0c6;}
.goSameId{background-color:#e4aa80;color:#392313;}
.goSignedInts{color:#84a0c6;}
.goSpaceError{background-color:#161821;color:#e27878;}
.goSpecialString{color:#b4be82;}
.goStatement{color:#84a0c6;}
.goString{color:#89b8c2;}
.goTodo{background-color:#45493e;color:#b4be82;}
.goType{color:#84a0c6;}
.goTypeConstructor{color:#84a0c6;}
.goTypeDecl{color:#84a0c6;}
.goTypeName{color:#84a0c6;}
.goUnsignedInts{color:#84a0c6;}
.goVar{color:#84a0c6;}
.htmlArg{color:#a093c7;}
.htmlComment{color:#6b7089;}
.htmlCommentError{background-color:#161821;color:#e27878;}
.htmlCommentPart{color:#6b7089;}
.htmlCssDefinition{color:#b4be82;}
.htmlCssStyleComment{color:#6b7089;}
.htmlEndTag{color:#84a0c6;}
.htmlError{background-color:#161821;color:#e27878;}
.htmlH1{color:#e2a478;}
.htmlH2{color:#e2a478;}
.htmlH3{color:#e2a478;}
.htmlH4{color:#e2a478;}
.htmlH5{color:#e2a478;}
.htmlH6{color:#e2a478;}
.htmlHead{color:#b4be82;}
.htmlLink{color:#84a0c6;}
.htmlPreAttr{color:#89b8c2;}
.htmlPreError{background-color:#161821;color:#e27878;}
.htmlPreProc{color:#b4be82;}
.htmlPreProcAttrError{background-color:#161821;color:#e27878;}
.htmlPreProcAttrName{color:#b4be82;}
.htmlPreStmt{color:#b4be82;}
.htmlScriptTag{color:#84a0c6;}
.htmlSpecial{color:#b4be82;}
.htmlSpecialChar{color:#b4be82;}
.htmlSpecialTagName{color:#84a0c6;}
.htmlStatement{color:#84a0c6;}
.htmlString{color:#89b8c2;}
.htmlStyleArg{color:#89b8c2;}
.htmlTag{color:#84a0c6;}
.htmlTagError{background-color:#161821;color:#e27878;}
.htmlTagName{color:#84a0c6;}
.htmlTitle{color:#e2a478;}
.htmlValue{color:#89b8c2;}
.icebergALAccentRed{color:#e27878;}
.Identifier{color:#89b8c2;}
.Ignore{color:bg;}
.Include{color:#84a0c6;}
.Integer{color:#a093c7;}
.jsArguments{color:#b4be82;}
.jsArrowFunction{color:#84a0c6;}
.jsAsyncKeyword{color:#84a0c6;}
.jsBlockLabel{color:#89b8c2;}
.jsBlockLabelKey{color:#89b8c2;}
.jsBooleanFalse{color:#a093c7;}
.jsBooleanTrue{color:#a093c7;}
.jsBranch{color:#84a0c6;}
.jsBuiltins{color:#a093c7;}
.jsCatch{color:#84a0c6;}
.jsCharacter{color:#a093c7;}
.jsClassDefinition{background-color:#161821;color:#c6c8d1;}
.jsClassFuncName{color:#e2a478;}
.jsClassKeyword{color:#84a0c6;}
.jsClassMethodType{color:#84a0c6;}
.jsClassProperty{color:#89b8c2;}
.jsClassStringKey{color:#89b8c2;}
.jsComment{color:#6b7089;}
.jsCommentClass{color:#6b7089;}
.jsCommentFunction{color:#6b7089;}
.jsCommentIfElse{color:#6b7089;}
.jsCommentRepeat{color:#6b7089;}
.jsCommentTodo{background-color:#45493e;color:#b4be82;}
.jsConditional{color:#84a0c6;}
.jsCssStyles{color:#84a0c6;}
.jsDecorator{color:#b4be82;}
.jsDecoratorFunction{color:#c6c8d1;}
.jsDestructuringAssignment{color:#89b8c2;}
.jsDo{color:#84a0c6;}
.jsDomElemAttrs{color:#84a0c6;}
.jsDomElemFuncs{color:#b4be82;}
.jsDomErrNo{color:#a093c7;}
.jsDomNodeConsts{color:#a093c7;}
.jsEnvComment{color:#b4be82;}
.jsError{background-color:#161821;color:#e27878;}
.jsException{color:#84a0c6;}
.jsExceptions{color:#a093c7;}
.jsExport{color:#84a0c6;}
.jsExportDefault{color:#84a0c6;}
.jsExportDefaultGroup{color:#84a0c6;}
.jsExtendsKeyword{color:#84a0c6;}
.jsFinally{color:#84a0c6;}
.jsFloat{color:#a093c7;}
.jsForAwait{color:#84a0c6;}
.jsFrom{color:#84a0c6;}
.jsFuncCall{color:#c6c8d1;}
.jsFuncName{color:#e2a478;}
.jsFunction{color:#84a0c6;}
.jsGenerator{color:#84a0c6;}
.jsGlobalNodeObjects{color:#a093c7;}
.jsGlobalObjects{color:#84a0c6;}
.jsHtmlElemAttrs{color:#84a0c6;}
.jsHtmlElemFuncs{color:#b4be82;}
.jsHtmlEvents{color:#b4be82;}
.jsImport{color:#84a0c6;}
.jsLabel{color:#84a0c6;}
.jsModuleAs{color:#84a0c6;}
.jsModuleKeywords{color:#84a0c6;}
.jsModuleOperators{color:#84a0c6;}
.jsNan{color:#a093c7;}
.jsNull{color:#a093c7;}
.jsNumber{color:#a093c7;}
.jsObjectFuncName{color:#e2a478;}
.jsObjectKey{color:#89b8c2;}
.jsObjectKeyString{color:#89b8c2;}
.jsObjectMethodType{color:#84a0c6;}
.jsObjectShorthandProp{color:#89b8c2;}
.jsObjectStringKey{color:#89b8c2;}
.jsOf{color:#84a0c6;}
.jsonBoolean{color:#a093c7;}
.jsonBraces{color:#c6c8d1;}
.jsonCommentError{background-color:#161821;color:#e27878;}
.jsonEscape{color:#b4be82;}
.jsonKeyword{color:#84a0c6;}
.jsonMissingCommaError{background-color:#161821;color:#e27878;}
.jsonNoQuotesError{background-color:#161821;color:#e27878;}
.jsonNull{color:#c6c8d1;}
.jsonNumber{color:#a093c7;}
.jsonNumError{background-color:#161821;color:#e27878;}
.jsonPadding{color:#84a0c6;}
.jsonQuote{background-color:#161821;color:#c6c8d1;}
.jsonSemicolonError{background-color:#161821;color:#e27878;}
.jsonString{color:#89b8c2;}
.jsonStringSQError{background-color:#161821;color:#e27878;}
.jsonTest{color:#84a0c6;}
.jsonTrailingCommaError{background-color:#161821;color:#e27878;}
.jsonTripleQuotesError{background-color:#161821;color:#e27878;}
.jsOperator{color:#84a0c6;}
.jsOperatorKeyword{color:#84a0c6;}
.jsParensError{background-color:#161821;color:#e27878;}
.jsPrototype{color:#b4be82;}
.jsRegexpBackRef{color:#b4be82;}
.jsRegexpBoundary{color:#b4be82;}
.jsRegexpCharClass{color:#a093c7;}
.jsRegexpGroup{color:#89b8c2;}
.jsRegexpMod{color:#b4be82;}
.jsRegexpOr{color:#84a0c6;}
.jsRegexpQuantifier{color:#b4be82;}
.jsRegexpString{color:#89b8c2;}
.jsRepeat{color:#84a0c6;}
.jsRestOperator{color:#84a0c6;}
.jsReturn{color:#84a0c6;}
.jsSpecial{color:#b4be82;}
.jsSpreadOperator{color:#84a0c6;}
.jsStatement{color:#84a0c6;}
.jsStorageClass{color:#84a0c6;}
.jsString{color:#89b8c2;}
.jsSuper{color:#84a0c6;}
.jsTaggedTemplate{color:#84a0c6;}
.jsTemplateBraces{color:#b4be82;}
.jsTemplateString{color:#89b8c2;}
.jsTernaryIfOperator{color:#84a0c6;}
.jsThis{color:#b4be82;}
.jsTry{color:#84a0c6;}
.jsUndefined{color:#a093c7;}
.Keyword{color:#84a0c6;}
.Label{color:#84a0c6;}
.lCursor{background-color:fg;color:bg;}
.LineNr{background-color:#1e2132;color:#444b71;}
.Macro{color:#b4be82;}
.MatchParen{background-color:#3e445e;color:#ffffff;}
.MoreMsg{color:#b4be82;}
.netrwMesgError{background-color:#161821;color:#e27878;}
.netrwMesgWarning{background-color:#161821;color:#e27878;}
.ngxDirective{color:#84a0c6;}
.NonText{background-color:#161821;color:#242940;}
.Normal{background-color:#161821;color:#c6c8d1;}
.Number{color:#a093c7;}
.Operator{color:#84a0c6;}
.Pmenu{background-color:#3d425b;color:#c6c8d1;}
.PmenuSbar{background-color:#3d425b;}
.PmenuSel{background-color:#5b6389;color:#eff0f4;}
.PmenuThumb{background-color:#c6c8d1;}
.PreCondit{color:#b4be82;}
.PreProc{color:#b4be82;}
.processingFunction{color:#84a0c6;}
.Question{color:#b4be82;}
.QuickFixLine{background-color:#272c42;color:#c6c8d1;}
.Repeat{color:#84a0c6;}
.sassClass{color:#b4be82;}
.sassFunction{color:#84a0c6;}
.Search{background-color:#e4aa80;color:#392313;}
.SignColumn{background-color:#1e2132;color:#444b71;}
.Sneak{background-color:#a093c7;color:#161821;}
.SneakScope{background-color:#272c42;color:#6b7089;}
.Special{color:#b4be82;}
.SpecialChar{color:#b4be82;}
.SpecialComment{color:#b4be82;}
.SpecialKey{background-color:#161821;color:#242940;}
.Statement{color:#84a0c6;}
.StatusLine{background-color:#818596;color:#17171b;}
.StatusLineNC{background-color:#0f1117;color:#3e445e;}
.StatusLineTerm{background-color:#818596;color:#17171b;}
.StatusLineTermNC{background-color:#0f1117;color:#3e445e;}
.StorageClass{color:#84a0c6;}
.String{color:#89b8c2;}
.Structure{color:#84a0c6;}
.TabLine{background-color:#818596;color:#17171b;}
.TabLineFill{background-color:#818596;color:#17171b;}
.TabLineSel{background-color:#161821;color:#9a9ca5;}
.Tag{color:#b4be82;}
.Title{color:#e2a478;}
.Todo{background-color:#45493e;color:#b4be82;}
.ToolbarButton{background-color:LightGrey;color:Black;}
.ToolbarLine{background-color:Grey50;}
.Type{color:#84a0c6;}
.Typedef{color:#84a0c6;}
.Underlined{color:#84a0c6;}
.VertSplit{background-color:#0f1117;color:#0f1117;}
.Visual{background-color:#272c42;}
.WarningMsg{background-color:#161821;color:#e27878;}
.WildMenu{background-color:#d4d5db;color:#17171b;}
.xmlAttrib{color:#a093c7;}
.xmlAttribPunct{color:#84a0c6;}
.xmlCdata{color:#89b8c2;}
.xmlCdataCdata{color:#84a0c6;}
.xmlCdataEnd{color:#84a0c6;}
.xmlCdataStart{color:#84a0c6;}
.xmlComment{color:#6b7089;}
.xmlCommentError{background-color:#161821;color:#e27878;}
.xmlCommentPart{color:#6b7089;}
.xmlCommentStart{color:#6b7089;}
.xmlDocTypeDecl{color:#c6c8d1;}
.xmlDocTypeKeyword{color:#84a0c6;}
.xmlEndTag{color:#84a0c6;}
.xmlEntity{color:#84a0c6;}
.xmlEntityPunct{color:#84a0c6;}
.xmlError{background-color:#161821;color:#e27878;}
.xmlInlineDTD{color:#c6c8d1;}
.xmlNamespace{color:#84a0c6;}
.xmlProcessing{color:#84a0c6;}
.xmlProcessingDelim{color:#6b7089;}
.xmlString{color:#89b8c2;}
.xmlTag{color:#84a0c6;}
.xmlTagName{color:#84a0c6;}
.xmlTodo{background-color:#45493e;color:#b4be82;}
.yamlKeyValueDelimiter{color:#c6c8d1;}
.ZenSpace{background-color:#e27878;}
