@use 'sass:color';

:root {
	$normal-bg: hsl(230deg, 20%, 11%);
	$color-lblue: hsl(190deg, 32%, 65%);

	--color-normal-bg: #{$normal-bg};
	--color-normal-fg: hsl(230deg, 10%, 80%);
	--color-blue: hsl(215deg, 37%, 65%);
	--color-green: hsl(72deg, 35%, 65%);
	--color-lblue: #{$color-lblue};
	--color-orange: hsl(25deg, 65%, 68%);
	--color-purple: hsl(255deg, 32%, 68%);
	--color-red: hsl(0, 63%, 68%);
	--color-comment-fg: hsl(230deg, 12%, 48%);

	--color-linenr-bg: #{color.adjust($normal-bg, $saturation: +5%, $lightness: +5%)};
	--color-statuslinenc-bg: #{color.adjust($normal-bg, $lightness: -3%)};

	--color-a: var(--color-blue);
	--color-bg: var(--color-normal-bg);
	--color-fg: var(--color-normal-fg);
	--color-heading: var(--color-fg);

	--color-button-bg: #{$color-lblue};
	--color-button-bg-hover: #{color.adjust($color-lblue, $saturation: +5%, $lightness: +5%)};

	--font-family-sans: 'Roboto Mono', sans-serif;
	--font-family-title: 'Roboto Mono', sans-serif;
	--font-family-mono: 'Roboto Mono', monospace;

	--p-line-height: 1.8;
}
