@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700');

@import 'vars';
@import 'mixins';
@import 'reset';
@import 'base';
@import 'iceberg';


.main {
	overflow: hidden;
}

.header {
	background-color: $iceberg-normal-bg;
	padding-bottom: 128px;
	padding-top: 64px;
	position: relative;

	@include sp() {
		padding-bottom: 256px;
	}

	&_icebergLayout {
		height: 0;
		left: 0;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&_iceberg {
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;

		&#{&}-s {
			background-image: url(../img/iceberg-s.svg);
			height: 32px;
			right: 595px;
			top: (-32px / 2);
			width: 32px;

			@include sp() {
				right: 499px;
			}
		}
		&#{&}-l {
			background-image: url(../img/iceberg-l.svg);
			height: 476px;
			right: -32px;
			top: (-476px / 2);
			width: 595px;

			@include sp() {
				right: -128px;
			}
		}
	}
	&_innerLayout {
		padding-left: 32px;
		padding-right: 32px;
		position: relative;

		@include sp() {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
	&_titleLayout {
		max-width: 377px;
	}
	&_title {
		@include hide-text();

		background: url(../img/title.svg) no-repeat center;
		background-size: contain;
		height: 0;
		padding-top: percentage(95 / 377);
	}
	&_bannerLayout {
		font-size: 0;
		height: 20px;
		margin-top: 32px;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}
}

.button {
	background-color: $button-bg-color;
	box-shadow: 0 2px 4px rgba($bg-color, 0.5);
	color: $bg-color;
	display: inline-block;
	font-weight: bold;
	padding: 8px 1.0em;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: adjust-color($button-bg-color, $saturation: +5%, $lightness: +5%);
	}
	&_icon {
		font-size: 1rem;
		margin-right: 0.5em;
	}
	&_text {
		font-size: 1rem;
	}
}

.section {
	padding-bottom: 64px;
	padding-top: 64px;
	position: relative;

	@include sp() {
		padding-bottom: 32px;
		padding-top: 32px;
	}

	&_innerLayout {	
		@include responsive-inner();

		position: relative;
	}
	&_title {
		font-size: 2rem;
	}
	&_body {
		margin-top: 16px;
	}
	&_buttonLayout {
		margin-top: 64px;
		text-align: center;

		@include sp() {
			margin-top: 32px;
		}
	}
}

.lead {
	&_featuresLayout {
		margin-top: 2rem;
	}
}

.featureList {
	padding: 0 0 0 1.5em;
}
.featureListItem {
	line-height: $p-line-height;
	list-style-type: none;
	position: relative;

	& + & {
		margin-top: 1rem;
	}

	&_icon {
		color: $iceberg-green;
		position: absolute;
		left: -1.5em;
		line-height: $p-line-height !important;
	}
}

.previewListItem {
	list-style-type: none;

	@include pc() {
		display: inline-block;
		vertical-align: top;
		width: percentage((1 - 0.02) / 2);

		&:nth-child(2n + 2) {
			margin-left: percentage(0.02);
		}
		&:nth-child(n + 3) {
			margin-top: percentage(0.02);
		}
	}
	@include sp() {
		& + & {
			margin-top: 16px;
		}
	}
}
.preview {
	box-shadow: 0 4px 8px rgba($iceberg-normal-bg, 0.5);
	position: relative;
	height: 0;
	padding-top: percentage(9 / 16);

	&_pre {
		bottom: 0;
		left: 0;
		overflow: scroll;
		position: absolute;
		right: 0;
		top: 0;

		@include sp() {
			overflow: hidden;
		}
	}
	&_title {
		background-color: $iceberg-normal-fg;
		color: $iceberg-normal-bg;
		font-weight: bold;
		padding: 0 0.5em;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.philosophy {
	&_slidesLayout {
		margin-top: 32px;
	}
}

.macos {
	&_window {
		margin-bottom: 32px;
		margin-top: 32px;
		text-align: center;

		img {
			border-radius: 3px;
			box-shadow: 0 8px 16px rgba($iceberg-normal-bg, 0.5);
			max-width: 100%;
		}
	}
	&_buttonLayout {
		text-align: center;
	}
}

.footer {
	background-color: $iceberg-linenr-bg;
	color: $iceberg-comment-fg;
	font-size: 0.9rem;
	padding-bottom: 16px;
	text-align: center;

	@include sp() {
		padding-top: 32px;
	}
}
